[Desktop Entry]
Name=Sequeler
GenericName=Sequeler App
GenericName[lt]=Sequeler programa
GenericName[es]=Aplicación Sequeler
GenericName[de]=Sequeler Programm
Comment=Friendly SQL Client
Comment[lt]=Draugiška SQL kliento programa
Comment[es]=Cliente SQL amigable
Comment[de]=Freundlicher SQL Client
Categories=Utility;Development;
Exec=com.github.alecaddd.sequeler
Icon=com.github.alecaddd.sequeler
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=sequeler
Keywords=SQL;MySql;Database;MariaDB;S3;PostgreSQL;
X-GNOME-UsesNotifications=true
