[Desktop Entry]
Name=Sequeler
GenericName=Sequeler App
Comment=Friendly SQL Client
Categories=Utility;Development;
Exec=com.github.alecaddd.sequeler %u
Icon=com.github.alecaddd.sequeler
Terminal=false
Type=Application
MimeType=application/x-sequeler;
X-GNOME-Gettext-Domain=sequeler
Keywords=SQL;MySql;Database;MariaDB;S3;PostgreSQL;
X-GNOME-UsesNotifications=true