.text-bold {
    font-weight: 600;
}

.library-box {
    background-color: transparent;
}

.library-inner-box {
    background: transparent;
    transition: background 320ms ease;
    color: @fg_color;
}

.library-inner-box .library-btn {
    opacity: 0;
}

.library-inner-box:hover {
    background: shade (@bg_color, 0.9);
}

.library-inner-box:hover .library-btn {
    opacity: 1;
}

.library-btn:active,
.library-btn:focus {
    background-color: transparent;
}

.library-titlebar {
    border-bottom: 1px solid shade (@bg_color, 0.9);
    background: shade (@bg_color, 0.95);
}

.library-toolbar {
    background: shade (@bg_color, 0.95);
    border-top: 1px solid shade (@bg_color, 0.9);
}

.library-colorbox {
    border-radius: 12px;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.toolbar-btn {
    background: transparent;
    border: none;
    box-shadow: none;
}

.toolbar-btn.active {
    background: shade (@bg_color, 0.9);
    opacity: 1;
}

.headerbar-separator {
    margin-left: 0;
}