.text-bold {
    font-weight: 600;
}

.library-box {
    background-color: transparent;
}

.library-toolbar {
    background: rgba(0, 0, 0, 0.05);
    border-bottom: none;
}

.library-colorbar {
    font-size: 3px;
}