[Desktop Entry]
Name=Sequeler
GenericName=Sequeler App
Comment=Friendly SQL Client
Categories=Utility;Development;
Exec=sequeler %u
Icon==${SNAP}/meta/gui/sequeler.png
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=sequeler
Keywords=SQL;MySql;Database;MariaDB;S3;PostgreSQL;
X-GNOME-UsesNotifications=true
